* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(white, thistle);
}

#message {
    border: 0.2vmin solid mediumpurple;
    padding: 20px;
    font-family: 'Caprasimo', cursive;
    font-size: 40px;
    border-radius: 2vmin;
}

h2 {
    font-family: 'Caprasimo', cursive;
    font-size: 30px;
    margin-top: -2px;
    align-items: center;
    text-align: center;
}

h4 {
    margin-top: -15px;
    color: red;
}

.cards {
    display: grid;
    grid-template-columns: repeat(4, 10vmin);
    grid-template-rows: repeat(3, 10vmin);
    gap: 5vmin;
    margin-top: 1vmin;
    border: 0.5vmin solid mediumpurple;
    border-radius: 2vmin;
    padding: 6vmin;
}


.cards > div {
    border-radius: 2vmin;
    border: 0.2vmin solid black;
    position: relative;
    transition: all 0.8 ease;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .5s;
}

.cards > div:hover {
    border: 1vmin solid mediumpurple;
}


button {
    margin-top: 5vmin;
    padding: 3vmin;
    border-radius: 6vmin;
    border: 0.2vmin solid mediumpurple;
    background-color: lightgray;
    font-family: 'Caprasimo', cursive;
    color: white;
}

button:hover {
    color: white;
    background-color: thistle;
}